

html,button,input,select,textarea {
    font-family: sans-serif;
}

body {
    margin: 0;
    background: url(Imagenes/aaa.jpg)no-repeat;
    background-size: contain;
}


h1 {
    font-size: 2em;
}


ul, ol {
    margin: 0;
    padding: 0 0 0 40px;
}


nav ul, nav ol {
    list-style: none;
    list-style-image: none;
}

figure {
    margin: 0;
}



form {
    margin: 20px;
}

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* POSICION DE MENSAJE BOTON*/
        #gkIs-gk-is-1.gkIsWrapper-gk_university {
            min-height: 300px;
        }
        
        #gkIs-gk-is-1.gkIsWrapper-gk_university .gkIsSlide {
            background-size: 1000px 300px;
            height: 300px;
            max-width: 1000px;
        }
        
        #gkIs-gk-is-1.gkIsWrapper-gk_university figure,
        #gkIs-gk-is-1.gkIsWrapper-gk_university .gkIsPreloader {
            max-width: 1000px;
        }

    /*FACEBOOCK*/
    #sw_facebook_display {
    position: relative;
}
#fbbox1 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:5px solid #395b99;
    background-color: #fff;
    position: fixed;
}
#fbbox2 {
    overflow: hidden;
    text-align: left;
}
#fbbox1 img {
    position: absolute; 
    top: 0px; 
    cursor: pointer;
    border: 0;
    z-index: 10000;
}


/*IMAGENXD*/

.gkIsWrapper-gk_university {
    min-height: 200px;
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* POSICION GENERAL DE LA MAGEN*/

.gkIsWrapper-gk_university figure {
    left: 50%;
    top: 0;
    opacity: 0;
    position: absolute;
    overflow: hidden;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    z-index: 1;
}


/* Columns in the content */
.gkCols {
  margin: 0 -20px;
  width: auto;
}
.gkCols > div {
  float: left;
  padding: 0 20px;
}
.gkCols[data-cols="2"] > div { width: 50%; }
.gkCols[data-cols="3"] > div { width: 33.333333%; }
.gkCols[data-cols="4"] > div { width: 25%; }
.gkCols[data-cols="5"] > div { width: 20%; }

#gkHeaderMod {
  color: #fff;
  text-align: center;
}
#gkHeaderMod h1 {
  color: #fff;
  font-size: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#gkHeaderMod h2 {
  color: #fff;
  font-size: 24px;
  float: none;
  font-weight: 300;
  margin: 0 auto!important;
  padding: 100px 0 80px 0;
  position: relative;
  width: 40%;
}
#gkHeaderMod h2:before {
  border-top: 1px solid #fff;
  content: "";
  left: 0;
  position: absolute;
  top: 50px;
  width: 100%;
}

/*boton*/
/*menu a*/

#gkHeaderMod .btn:active,
#gkHeaderMod .btn:focus,
#gkHeaderMod .btn:hover {
  background: #000;
  color: #fff;
}

#gkHeaderMod .gk-short-menu a {
  color: #fff;
}
#gkHeaderMod .gk-short-menu a:active,
#gkHeaderMod .gk-short-menu a:focus,
#gkHeaderMod .gk-short-menu a:hover {
  color: rgba(255, 255, 255, .6);
}


@media (max-height: 700px) {
  #gkHeaderMod h1 { font-size: 48px; }
  #gkHeaderMod h2:before,
  #gkHeaderMod h2:after { top: 16px; }
  #gkHeaderMod h2 { padding: 35px 0 25px 0; }
  #gkHeaderMod .gk-short-menu { margin: 20px 0 50px 0; }
  #gkHeaderMod .gk-short-menu li { display: inline-block; margin: 0 16px; }
}

#gkHeaderMod h2:after {
  background: #fff;
  content: "";
  height: 9px;
  left: 50%;
  margin: -4px 0 0 -9px;
  position: absolute;
  top: 50px;
  transform: rotate(-45deg);
  width: 9px;
}
#gkHeaderMod .btn {
  background: #fff;
  color: #000;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  height: 55px;
  line-height: 56px;
  padding: 0 35px;
  text-transform: uppercase;
}/*boton*/
/*menu*/

#gkHeaderMod .btn:active,
#gkHeaderMod .btn:focus,
#gkHeaderMod .btn:hover {
  background: #000;
  color: #fff;
}

#gkHeaderMod .gk-short-menu a {
  color: #fff;
}
#gkHeaderMod .gk-short-menu a:active,
#gkHeaderMod .gk-short-menu a:focus,
#gkHeaderMod .gk-short-menu a:hover {
  color: rgba(255, 255, 255, .6);
}


@media (max-height: 700px) {
  #gkHeaderMod h1 { font-size: 48px; }
  #gkHeaderMod h2:before,
  #gkHeaderMod h2:after { top: 16px; }
  #gkHeaderMod h2 { padding: 35px 0 25px 0; }
  #gkHeaderMod .gk-short-menu { margin: 20px 0 50px 0; }
  #gkHeaderMod .gk-short-menu li { display: inline-block; margin: 0 16px; }
}


/* Frontpage - description */
.box.gk-description {
  position: relative;
  text-align: center;
}
.box.gk-description {
  padding: 140px 0 250px;
}
.gk-description-left-img,
.gk-description-right-img {
  position: absolute;
}
.gk-description-left-img {
  left: 50%;
  margin-left: -900px;
  top: 50px;
}
.gk-description-right-img {
  bottom: 50px;
  margin-right: -940px;
  right: 50%;
}
.gk-description p {
  color: #444;
  line-height: 2;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 70%;
  z-index: 1;
}
.gk-avatar {
  margin: 70px auto 30px auto!important;
  position: relative;
}
.gk-avatar:before,
.gk-avatar:after {
  border-top: 1px solid #d5d5d5;
  content: "";
  height: 1px;
  left: auto;
  position: absolute;
  top: 25px;
  width: 40px;
}
.gk-avatar:before {
  margin-left: -55px;
}
.gk-avatar:after {
  margin-left: 40px;
}
.gk-avatar strong {  
  clear: both;
  display: block;
  font-size: 14px;
  font-weight: 500;
}
.gk-avatar img {
  border-radius: 50%;
}
/*FORMULARIO*/ 

.gk-over-map {
  position: relative;
  text-align: left;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  z-index: 2;
}
@media (max-width: 1500px) {
  .gk-over-map {
    overflow: hidden;
  }
}
.gk-over-map.gkCols > div {
  padding: 0 0 0 75px;
}
.gk-over-map.gkCols {
  margin: 0;
}
.gk-over-map.gkCols > div:first-child {
  padding: 0 75px 0 0;
}
.gk-map-contact {
  margin-bottom: 30px;
}

.map.contact-form h3 {
  color: #fff;
}
.gkContactForm p.gkcontact-fields {
  float: left;
  margin: 0 7% 0 0;
  width: 44%;
}
.gkContactForm p.gkcontact-textarea {
  float: right;
  margin: 0;
  width: 49%;
}
.gkContactForm input {
  border-color: #d27244;
  margin: 0 0 12px 0;
  width: 100%;
}
.gkContactForm textarea {
  border-color: #d27244;
  height: 159px!important;
}
.gkContactForm .button-border {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  float: right;
  height: 50px;
  line-height: 47px;
  margin: 18px 0 0 0;
  padding: 0 32px;
  width: auto!important;
}

@media (max-width: 1500px) {
  .gk-over-map {
    overflow: hidden;
  }
}
.gk-over-map.gkCols > div {
  padding: 0 0 0 75px;
}
.gk-over-map.gkCols {
  margin: 0;
}
.gk-over-map.gkCols > div:first-child {
  padding: 0 75px 0 0;
}
.gk-map-contact {
  margin-bottom: 30px;
}

.map.contact-form h3 {
  color: #fff;
}
.gkContactForm p.gkcontact-fields {
  float: left;
  margin: 0 7% 0 0;
  width: 44%;
}
.gkContactForm p.gkcontact-textarea {
  float: right;
  margin: 0;
  width: 49%;
}
.gkContactForm input {
  border-color: #d27244;
  margin: 0 0 12px 0;
  width: 100%;
}
.gkContactForm textarea {
  border-color: #d27244;
  height: 159px!important;
}
.gkContactForm .button-border {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  float: right;
  height: 50px;
  line-height: 47px;
  margin: 18px 0 0 0;
  padding: 0 32px;
  width: auto!important;
}

.gkContactForm .button-border:active,
.gkContactForm .button-border:focus,
.gkContactForm .button-border:hover {
  background: transparent;
  border-color: #000;
  color: #000;
}

.gkContactForm #dynamic_recaptcha_1 {
  background: #fff;
  float: right;
}
.contact-form-info p {
  font-size: 14px;
  font-weight: 300;
}
.contact-form-info address {
  font-style: normal;
  padding-top: 20px;
  position: relative;
}
.contact-form-info address p {
  padding-right: 170px;
}
.gk-locate {
  border: 2px solid #fff;
  color: #fff;
  display: block;
  font-size: 14px;
  height: 130px;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 20px;
  width: 130px;
}
.gk-locate:active,
.gk-locate:focus,
.gk-locate:hover {
  border-color: #000;
  color: #000;
}
.gk-locate i {
  display: block;
  font-size: 54px;
  position: relative;
  top: 12px;
  width: 100%;
}
/* map animation */
.box.map.hide:before {
  opacity: 0;
}
.box.map .header.hide {
  opacity: 0;
  -webkit-transform: translateY(-200px);
  -moz-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  -o-transform: translateY(-200px);
  transform: translateY(-200px);
}
.box.map .gk-over-map.hide {
  opacity: 0;
  -webkit-transform: translateY(200px);
  -moz-transform: translateY(200px);
  -ms-transform: translateY(200px);
  -o-transform: translateY(200px);
  transform: translateY(200px);
}

/* Frontpage - menu */
.gk-menu .box-wrap {
  background: #fff;
  margin: -60px 0;
  overflow: hidden;
  padding: 120px 0;
  position: relative;
}
.gk-menu-left-img,
.gk-menu-right-img {
  position: absolute;
  z-index: 0;
}
.gk-menu-left-img {
  left: 50%;
  margin-left: -1280px;
  top: 0;
}
.gk-menu-right-img {
  margin-right: -940px;
  right: 50%;
  top: 0;
}
.gk-menu .gkCols,
.gk-menu .gk-menu-button {
  position: relative;
  z-index: 1;
}
.gk-menu .gkCols {
  margin: 100px -55px 125px -55px;
}
.gk-menu .gkCols > div {
  padding: 0 55px;
}
.gk-menu .gkCols h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 36px 0;
  text-align: center;
  text-transform: uppercase
}
.gk-menu dt {
  clear: both;
  font-size: 14px;
  font-weight: bold;
  margin: 15px 0 0 0;
  text-transform: uppercase;
}
.gk-menu dd {
  margin: 0 0 15px 0;
  overflow: hidden;
}
.gk-menu dd small {
  float: left;
  font-size: 14px;
  max-width: 78%;
}
.gk-menu dd strong {
  color: #d27244;
  float: right;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  width: 20%;
}
.gk-menu-button {
  border-top: 1px solid #cbc4a8;
  text-align: center;
}
.gk-menu-button > span {
  background: #faf8ea;
  display: inline-block;
  padding: 0 35px;
  position: relative;
  top: -28px;
}

/* Frontpage - reservation */
.gk-testimonials {
  text-align: center;
  position: relative;
}
.gk-testimonials > div {
  margin: 80px auto 50px auto;
  overflow: hidden;
  width: 94%;
}
.gk-testimonials > div > div { 
  -webkit-transition: all .6s ease-out;
  -moz-transition: all .6s ease-out;
  -ms-transition: all .6s ease-out;
  -o-transition: all .6s ease-out;
  transition: all .6s ease-out;
  width: 100%;
}
.gk-testimonials[data-amount="2"] > div > div { width: 200%; }
.gk-testimonials[data-amount="3"] > div > div { width: 300%; }
.gk-testimonials[data-amount="4"] > div > div { width: 400%; }
.gk-testimonials[data-amount="5"] > div > div { width: 500%; }
.gk-testimonials[data-amount="6"] > div > div { width: 600%; }
.gk-testimonials[data-amount="7"] > div > div { width: 700%; }
.gk-testimonials[data-amount="8"] > div > div { width: 800%; }
.gk-testimonials blockquote { 
  float: left;
  margin: 0 1.5%;
  width: 75%; 
}
.gk-testimonials[data-amount="2"] blockquote { 
  margin: 0 6.25%;
  width: 37.5%; 
}
.gk-testimonials[data-amount="3"] blockquote { 
  margin: 0 4.166666%;
  width: 25%; 
}
.gk-testimonials[data-amount="4"] blockquote { 
  margin: 0 3.125%;
  width: 18.75%; 
}
.gk-testimonials[data-amount="5"] blockquote { 
  margin: 0 2.5%;
  width: 15%; 
}
.gk-testimonials[data-amount="6"] blockquote { 
  margin: 0 2.083333%;
  width: 12.5%; 
}
.gk-testimonials[data-amount="7"] blockquote {
  margin: 0 1.785714%;
  width: 10.714285%;
}
.gk-testimonials[data-amount="8"] blockquote { 
  margin: 0 1.5625%;
  width: 9.375%;
}
.gk-testimonials blockquote {
  opacity: 1;
  -webkit-transition: all .15s ease-out;
  -moz-transition: all .15s ease-out;
  -ms-transition: all .15s ease-out;
  -o-transition: all .15s ease-out;
  transition: all .15s ease-out;
}
.gk-testimonials blockquote.hidden {
  opacity: 0;
}
.gk-testimonials > .button-border {
  display: inline-block;
  float: none;
}
.gk-testimonials-prev,
.gk-testimonials-next {
  border: 1px solid #d5d5d5;
  border-right: none;
  border-bottom: none;
  cursor: pointer;
  display: block;
  left: 0;
  height: 60px;
  margin-top: 20px;
  opacity: 1;
  position: absolute;
  top: 0;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 60px;
}
.gk-testimonials-prev:hover {
  left: -10px;
}
.gk-testimonials-prev:active,
.gk-testimonials-prev:focus,
.gk-testimonials-prev:hover,
.gk-testimonials-next:active,
.gk-testimonials-next:focus,
.gk-testimonials-next:hover {
  border-color: #d27244;
}
.gk-testimonials-next {
  left: auto;
  right: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);  
}
.gk-testimonials-next:hover {
  right: -10px;
}
.gk-testimonials-pagination {
  position: absolute;
  text-align: center;
  top: -60px;
  width: 100%;
}
.gk-testimonials-pagination li {
  background: #d5d5d5;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin: 0 2px;
  overflow: hidden;
  padding: 0;
  text-indent: -9999px;
  width: 8px;
}
.gk-testimonials-pagination li.active {
  background: #d27244;
}

/* Frontpage - special */
.gk-special {
  background: #fff;
}
.gk-special:after {
  clear: both;
  content: "";
  display: table;
}
.gk-special figure {
  float: left;
  position: relative;
  width: 35%;
}
.gk-special figure img {
  display: block;
  height: auto;
  width: 100%;
}
.gk-special figcaption {
  background: #492412;
  bottom: 25px;
  color: #fff;
  float: left;
  left: -40px;
  line-height: 1;
  padding: 22px 64px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
}
.gk-special figcaption h3 {
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  line-height: 0.8;
  text-align: center;
}
.gk-special figcaption h3 > span {
  color: #fdca19;
  display: block;
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
}
.gk-special figcaption small {
  color: #fdca19;
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  padding-top: 12px;
}
.gk-special figcaption small strong {
  color: #fff;
}
.gk-special-content {
  float: right;
  padding: 50px 130px;
  text-align: left;
  width: 65%;
}
.gk-special .gk-special-content .header > span {
  color: #000;
}
.gk-special  .gk-special-content .header > small {
  color: #a89c72;
}
.gk-special-menu {
  margin: -25px -40px 0 -40px;
  overflow: hidden;
  position: relative;
}
.gk-special-menu:after {
  background: #fff;
  bottom: 0;
  content: "";
  height: 9px;
  left: 0;
  position: absolute;
  width: 100%;
}
.gk-special-menu li {
  border: none;
  float: left;
  padding: 18px 20px;
  position: relative;
  width: 50%;
}
.gk-special-menu li:after {
  border-top: 1px solid #d5d5d5;
  bottom: 0px;
  content: "";
  left: 50%;
  margin: 0 0 0 -100px;
  position: absolute;
  width: 200px;
}
.gk-special-menu li:before {
  background: #d5d5d5;
  bottom: -4px;
  content: "";
  height: 9px;
  left: 50%;
  margin: -4px 0 0 -4px;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 9px;
}
.gk-special-menu h4 {
  font-size: 24px;
}
.gk-special-menu strong {
  color: #999;
  font-size: 18px;
  font-weight: normal;
}
.gk-special-link {
  background: #000;
  float: right;
  margin: 0;
}
.gk-special-link:active,
.gk-special-link:focus,
.gk-special-link:hover {
  background: #d27244;  
}
/* GK Reservation Form */
.gkReservationForm input {
  margin: 0 0 12px 0;
  width: 100%;
}
.gkReservationForm input[name="gkreservation-email"],
.gkReservationForm input[name="gkreservation-phone"] {
  margin: 0 1% 12px 0;
  width: 49%;
}
.gkReservationForm input[name="gkreservation-phone"] {
  margin: 0 0 12px 1%;
}
.gkReservationForm textarea {
  height: 160px!important;
  width: 100%;
}
.gkreservation-party-details {
  float: left;
  width: 30%;
}
.gkreservation-party-info {
  float: right;
  margin: 0 0 12px 0;
  width: 64%;
}
.gkreservation-date,
.gkreservation-time {
  position: relative;
}
.gkreservation-time:before,
.gkreservation-date:before {
  color: #d5d5d5;
  content: "L";
  font-family: "steakhouse-pixellove";
  font-size: 20px;
  position: absolute;
  right: 14px;
  top: 4px;
}
.gkreservation-time:before {
  content: "P";
}
.gkreservation-party-info .button-border {
  background: #fff;
  border: 2px solid #d27244;
  color: #d27244!important;
  display: inline-block;
  float: left;
  width: auto;
}
.gkreservation-party-info .button-border:active,
.gkreservation-party-info .button-border:focus,
.gkreservation-party-info .button-border:hover {
  background: #fff;
  border-color: #000;
  color: #000!important;
}
h2 + .gk-subtitle {
  color: #444;
  font-size: 16px;
  margin: -16px 0 90px 0;
}
.gkreservation-party-info small {
  color: #999;
  float: left;
  font-size: 13px;
  padding: 30px 0;
}

/*
 * Kalendae 
 */
.kalendae {
  display: inline-block;
  background:#fff;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
  padding:10px;
  margin:5px;
  font-size:11px;
  cursor:default;
  position:relative;
}
.kalendae.k-floating {
  position:absolute;
  top:0;
  left:0;
  z-index:100000;
  margin:0;
}
.kalendae .k-btn-close {
  display: none;
}
.kalendae .k-calendar {
  display: inline-block;
  width:240px;
  vertical-align:top;
}
.kalendae .k-separator {
  display: inline-block;
  width:2px;
  vertical-align:top;
  background:#333;
  height:240px;
  margin:0px 10px;
}
.kalendae .k-title {
  color:#000;
  text-align:center;
  white-space:nowrap;
  position:relative;
  height:18px;
}
.kalendae .k-caption {
  font-size:12px;
  line-height:18px;
}
.kalendae .k-btn-previous-month,
.kalendae .k-btn-next-month,
.kalendae .k-btn-previous-year,
.kalendae .k-btn-next-year {
  width:16px;
  height:16px;
  cursor:pointer;
  position:absolute;
  top:-2px;
  color:#999;
  font-size:20px;
  line-height: 18px;
  font-weight: bold;
  font-family: arial;
  text-decoration:none;
}
.kalendae .k-btn-previous-year {left:0;}
.kalendae .k-btn-previous-month {left:16px;}
.kalendae .k-btn-next-month {right:16px;}
.kalendae .k-btn-next-year {right:0;}
.kalendae .k-btn-previous-month:after {content:"\2039";}
.kalendae .k-btn-next-month:after {content:"\203A";}
.kalendae .k-btn-previous-year:after {content:"\00AB";}
.kalendae .k-btn-next-year:after {content:"\00BB";}
.kalendae .k-btn-previous-month:hover,
.kalendae .k-btn-next-month:hover {color:#000;}
.kalendae .k-btn-previous-year:hover,
.kalendae .k-btn-next-year:hover {color:#000;}
.kalendae .k-first-month .k-btn-next-month,
.kalendae .k-middle-month .k-btn-next-month,
.kalendae .k-middle-month .k-btn-previous-month,
.kalendae .k-last-month .k-btn-previous-month,
.kalendae .k-first-month .k-btn-next-year,
.kalendae .k-middle-month .k-btn-next-year,
.kalendae .k-middle-month .k-btn-previous-year,
.kalendae .k-last-month .k-btn-previous-year {display:none;}
.kalendae .k-title.k-disable-year-nav .k-btn-next-year,
.kalendae .k-title.k-disable-year-nav .k-btn-previous-year { display: none; }
.kalendae .k-title.k-disable-year-nav .k-btn-next-month { right: 0; }
.kalendae .k-title.k-disable-year-nav .k-btn-previous-month { left: 0; }
.kalendae .k-title,
.kalendae .k-header,
.kalendae .k-days {
  width:239px;
  display:block;
  overflow:hidden;
}
.kalendae.k-disable-next-month-btn .k-btn-next-month,
.kalendae.k-disable-previous-month-btn .k-btn-previous-month,
.kalendae.k-disable-next-year-btn .k-btn-next-year,
.kalendae.k-disable-previous-year-btn .k-btn-previous-year {
  display:none;
}
.kalendae .k-header span,
.kalendae .k-days span {
  float:left;
  margin:1px 1px;
}
.kalendae .k-header span {
  text-align:center;
  font-weight:bold;
  width:31px;
  padding:1px 0;
  color:#fff;
}
.kalendae .k-days span {
  text-align:right;
  width:31px;
  height:31px;
  line-height:31px;
  padding:0;
  color:#fff;
  text-align: center;
}
.kalendae .k-today {
  background: #d27244!important;
  color: #fff !important
}
.kalendae .k-days span.k-in-month.k-active {
  background-color:#eee;
  color:#000;
}
.kalendae .k-days span.k-out-of-month {color:#000;}
.kalendae .k-days span.k-active {
  cursor:pointer;
}
.kalendae .k-days span:hover {
  background: #ccc!important;
  color: #000!important;
}
.clearfix:after { 
  visibility: hidden; 
  display: block; 
  font-size: 0; 
  content: " "; 
  clear: both; 
  height: 0; 
}
